<%= form_for item, :url => { :id => item.id, :action => @action, :anchor => "item_anchor", :controller => :items }  do |f| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :entry_id %>
  <div class="field">
    <%= f.label "Item tags:" %><br />
    <%= f.text_field :tag_list, "data-pre" => item.tags.order('name ASC').map { |tag| { :id => tag.name, :name => tag.name } }.to_json %> 
  </div>

  <div class="field">
    <%= f.text_area :content, :class => "fill_div item_font" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

