<div class="item round">
  <% if item == @item_anchor -%>
    <a name="item_anchor"></a>
    <section class="round">
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, :class => "flash #{key}") %>
    <% end %>
    </section>
  <% end -%>
  <% if item.is_draft? -%>
    <%= render 'items/form', :item => item %>
  <% else -%>
    <div class="item_tag_list"><%= link_to "TAGS: #{item.tag_list.sort.to_s}", edit_item_path(item, :anchor => "item_anchor"), :class => "nolink" %></div>
    <div class="item_content"><%= link_to simple_format(item.content), edit_item_path(item, :anchor => "item_anchor"), :class => "nolink" %></div>
    <div class="item_action">
      <span class="button round">
        <%= link_to 'X', item_path(item, :anchor => "item_anchor"), :confirm => 'Are you sure?', :method => :delete, :class => "nolink" %>
      </span>
    </div>
  <% end -%>
</div><br />
